<div class="card flex" style="width: 89%">
    <div class="card-header" style="background-color: rgb(153, 153, 212)">
        Registration Form
      </div>
    <div class="card-body">
    <form [formGroup] = "signUpReactiveForm" (ngSubmit)="onRegristrationFormSubmit()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEmail4">Email</label>
          <input type="email"  autocomplete="off" 
          formControlName= "emailID" 
          class="form-control" id="inputEmail4" placeholder="Email">
          <span class="help-block validationErrorMessage"
           *ngIf="!signUpReactiveForm.get('emailID').valid && (signUpReactiveForm.get('emailID').touched)">
           Please enter valid Email! 
           </span>
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Password</label>
          <input type="password" 
          formControlName = "password" 
          class="form-control" id="inputPassword4" placeholder="Password">
          <span class="help-block validationErrorMessage"
           *ngIf="!signUpReactiveForm.get('password').valid && (signUpReactiveForm.get('password').touched)">
            <span class="help-block validationErrorMessage"
                *ngIf="!signUpReactiveForm.get('password').errors['passwordValidator']">
                Password must be atleast 9 letters! 
            </span>
            <span class="help-block validationErrorMessage"
                *ngIf="!signUpReactiveForm.get('password').errors['required']">
                Please enter valid Password!
            </span>            
           </span>
           
        </div>
        <div class="form-group col-md-4 float-right">          
          <legend class="col-form-label ">User Type</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" 
              formControlName = "userType" 
              type="radio" id="gridRadios1" value="ADMIN" checked>
              <label class="form-check-label" for="gridRadios1">
                ADMIN
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" 
              formControlName= "userType" 
              type="radio"  id="gridRadios2" value="CUSTOMER">
              <label class="form-check-label" for="gridRadios2">
                CUSTOMER
              </label>
            </div>
          </div>
        </div>
      </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" 
      formControlName = "address" 
      class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" 
      formControlName = "address2" 
      class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" 
        formControlName = "city" 
        class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select formControlName = "state" id="inputState" class="form-control">
          <option selected>Choose...</option>
          <ng-container *ngFor="let usState of states">
            <option value="usState">{{usState}}</option>
          </ng-container>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input formControlName = "zipCode" type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <!--<div formArrayName="favFood">
        <h5>Favourite Food</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" type="button" (click)= "onAddFavFood()">Add</button>
        <div class="form-group" *ngFor = "let favFoodValue of signUpReactiveForm.get('favFood').controls; let i = index">
          <input type="text" class="form-control" [formControlName] = "i">
        </div>
      </div>-->
    <button type="submit" class="btn btn-primary float-right">Register</button>
  </form>
  </div>
  </div>
