
<!--<table border="5">
  <tr>
      <th>First Name</th>
      <th>User Name</th>
      <th>Admin?</th>
      <th>Admin? (ngClass)</th>
  </tr>
  <tr   *ngFor = "let user of siriUsers"><td>{{user.fName}}</td>
  <td>{{user.userName}}</td>
  <td><div class = "adminClass" [class.admin] = "user.isAdmin" [class.non-admin] = "!user.isAdmin">{{user.isAdmin}}</div></td>
  <td><div class = "adminClass" [ngClass] = "{'admin' :user.isAdmin , 'non-admin' :!user.isAdmin }">{{user.isAdmin}}</div></td>
</table>


<div  *ngFor = "let user of siriUsers">
    {{user.fName}}
</div>-->


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="card flex" style="height: 100%">
            <div class="card-header sticky-top">
                <app-header></app-header> 
            </div>
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
            <div class="card-footer fixed-bottom" style="background-color: azure;">
                <p style="text-align: center; font-family: cursive"> @Dev Vuppala , Organic Kitchen</p>
            </div>
        </div>
    </div>
</div>






