
<!--<table border="5">
  <tr>
      <th>First Name</th>
      <th>User Name</th>
      <th>Admin?</th>
      <th>Admin? (ngClass)</th>
  </tr>
  <tr   *ngFor = "let user of siriUsers"><td>{{user.fName}}</td>
  <td>{{user.userName}}</td>
  <td><div class = "adminClass" [class.admin] = "user.isAdmin" [class.non-admin] = "!user.isAdmin">{{user.isAdmin}}</div></td>
  <td><div class = "adminClass" [ngClass] = "{'admin' :user.isAdmin , 'non-admin' :!user.isAdmin }">{{user.isAdmin}}</div></td>
</table>


<div  *ngFor = "let user of siriUsers">
    {{user.fName}}
</div>-->

<app-header></app-header>
<div class="card flex" style="height: 89%">
    <div class="card-body">
        <app-signup></app-signup><br>
        <hr>
        <menu-catalog></menu-catalog>
    </div>
    <div class="card-footer text-muted  " style="background-color: white;">
     <p style="text-align: center; font-family: cursive"> @Dev Vuppala , Organic Kitchen</p>
    </div>
  </div>





