.validationErrorMessage {
    color: red;
    font-style: italic;
}

label {
    color:steelblue;
    font-family: Calibri;
    font-weight: bold;
    font-size: 19px;
}

i {
    color:green;
    font-family: Calibri;
    font-size: 25px;
}

